<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linda.homework.lindaindoornavigation.model.mapper.NodeMapper" >
    <sql id="allColumn" >
        node_id, node_name, relevant_node, node_pic,p_hash_code
    </sql>
    <!--<select id="addNode" resultType="java.util.Map" parameterType="nodeDO" >-->
        <!--select-->
        <!--<include refid="allColumn" />-->
        <!--from user_t-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->
    <delete id="deleteNode" parameterType="java.lang.String" >
        delete from node_info
        where node_id = #{nodeId}
    </delete>
    <insert id="addNode" parameterType="nodeDO" >
        insert into node_info (node_id, node_name, relevant_node, node_pic ,p_hash_code)
        values (#{nodeId}, #{nodeName}, #{relevantNode}, #{nodePic} ,#{pHashCode})
    </insert>
    <select id="getAllNodes" resultType="nodeDO">
        select
        <include refid="allColumn" />
        from node_info
    </select>
    <select id="getNodeById" resultType="nodeDO">
        select
        <include refid="allColumn" />
        from node_info
        where node_id = #{nodeId}
    </select>
    <update id="updateRelevantNode">
        update node_info
        set relevant_node = #{relevantNode}
        where id = #{nodeId}
    </update>
</mapper>
